<!DOCTYPE html>
<html lang="it">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "navbar.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-12" id="blog-post">

                        <div id="post-content">
                            {{ .Content }}
                        </div>

                        <br><br><br>

                        <!-- IMMAGINI LAVORI (1) -->
                        {{ if .Params.wtitle }}
                        <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <h2>{{ .Params.wtitle }}</h2>
                              </div>
                              <br><br><br>
                              <div class="col-sm-4">
                                  <img src="{{.Params.imgPrima}}" alt="{{.Params.altPrima}}" class="img-responsive"/>
                                  <div class="text-center"><h3>PRIMA</h3></div>
                              </div>
                              <div class="col-sm-4">
                                  <img src="{{.Params.imgDurante}}" alt="{{.Params.altDurante}}" class="img-responsive"/>
                                  <div class="text-center"><h3>DURANTE</h3></div>
                              </div>
                              <div class="col-sm-4">
                                  <img src="{{.Params.imgDopo}}" alt="{{.Params.altDopo}}" class="img-responsive"/>
                                  <div class="text-center"><h3>DOPO</h3></div>
                              </div>
                          </div>
                        </div>
                        {{ end }}

                        <br><br><br>

                        <!-- IMMAGINI LAVORI (2) -->
                        {{ if .Params.wtitle2 }}
                        <div class="container">                          
                          <div class="row">
                            <div class="col-md-12">
                                <h2>{{ .Params.wtitle2 }}</h2>
                            </div>
                            <br><br><br>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgPrima2}}" alt="{{.Params.altPrima}}" class="img-responsive"/>
                                <div class="text-center"><h3>PRIMA</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgDurante2}}" alt="{{.Params.altDurante}}" class="img-responsive"/>
                                <div class="text-center"><h3>DURANTE</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgDopo2}}" alt="{{.Params.altDopo}}" class="img-responsive"/>
                                <div class="text-center"><h3>DOPO</h3></div>
                            </div>
                          </div>
                        </div>
                        {{ end }}

                        <br><br><br><br>

                        <!-- IMMAGINI LAVORI (3) -->
                        {{ if .Params.wtitle3 }}
                        <div class="container">                          
                          <div class="row">
                            <div class="col-md-12">
                                <h2>{{ .Params.wtitle3 }}</h2>
                            </div>
                            <br><br><br>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgPrima3}}" alt="{{.Params.altPrima}}" class="img-responsive"/>
                                <div class="text-center"><h3>PRIMA</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgDurante3}}" alt="{{.Params.altDurante}}" class="img-responsive"/>
                                <div class="text-center"><h3>DURANTE</h3></div>
                            </div>
                            <div class="col-sm-4">
                                <img src="{{.Params.imgDopo3}}" alt="{{.Params.altDopo}}" class="img-responsive"/>
                                <div class="text-center"><h3>DOPO</h3></div>
                            </div>
                          </div>
                        </div>
                        {{ end }}

                        <br><br><br><br>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
