<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="heading text-center">
            <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
        </div>

        <ul class="owl-carousel clients">
          {{ range .Site.Data.clients }}
          <li class="item" title="{{ .name }}">
            {{ if .url }}
              <a href="{{ .url }}" target="_blank">
                <img src="{{ .image }}" loading=lazy alt="{{ .alt }}" class="img-responsive" />
              </a>
            {{ else }}
              <img src="{{ .image }}" loading=lazy alt="{{ .alt }}" class="img-responsive" />
            {{ end }}
          </li>
          {{ end }}
        </ul>

      </div>
    </div>
  </div>
</section>
