<div id="contatti">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto/dpr_auto,c_scale/c_fill,q_auto,f_auto/v1619773666/black-envelope-email-symbol_krhbra.png" loading=lazy alt="logo-mail">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4><a href="mailto:info@pavesasrl.it">info@pavesasrl.it</a></h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto/dpr_auto,c_scale/c_fill,q_auto,f_auto/v1619773666/phone-call-button_y1ceyh.png" loading=lazy alt="logo-phone">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>Ufficio:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Fisso: <a href="tel:+390875681101">0875808184</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Cell.: <a href="tel:+393277425486">3277425486</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>Referenti:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Ercole: <a href="tel:+393477333796">3477333796</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Geom. Nicholas: <a href="tel:+393663619031">3663619031</a></h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto/dpr_auto,c_scale/c_fill,q_auto,f_auto/v1619775226/map-placeholder_xpqz8h.png" loading=lazy alt="logo-mail">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-5 text-right">
                <h3>Sede legale: </h3>
            </div>
            <div class="col-xs-12 col-lg-7 text-left">
                <h3>Via Germania, 4 - Guglionesi (CB)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-5 text-right">
                <h3>Sede amministrativa: </h3>
            </div>
            <div class="col-xs-12 col-lg-7 text-left">
                <h3>Contrada piane di Larino, 90 - Larino (CB)</h3>
            </div>
        </div>
    </div>
    <hr>
    <iframe class="g-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.040807451273!2d14.911240315682475!3d41.91348147117792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1330c9bd0f74bfdb%3A0x5127f532c42d82fe!2sPA.VE.SA.!5e0!3m2!1sit!2sit!4v1627315898664!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading=lazy></iframe>

</div>