<div id="contatti">
    <div class="container">
        <h2>Chiamaci/Scrivici per qualsiasi informazione</h3>
            <br><br>
        <div class="row" style="text-align: center;">
            <div class="col-md-2 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/v1619775226/map-placeholder_xpqz8h.png" alt="mail">
            </div>
            <div class="col-md-3" style="text-align: center;" id="mail-phone">
                <br>
                <p>Largo Garibaldi, 5</p>
                <p>Guglionesi (CB) - 86034</p>
            </div>
        </div>
        <br><br>
        <div class="row" style="text-align: center;">
            <div class="col-md-2 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/v1619773666/black-envelope-email-symbol_krhbra.png" alt="mail">
            </div>
            <div class="col-md-3" style="text-align: center;" id="mail-phone">
                <br>
                <p><a href="mailto:info@pavesasrl.it">info@pavesasrl.it</a></p>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="https://res.cloudinary.com/afulvio/image/upload/v1619773666/phone-call-button_y1ceyh.png" alt="phone">
            </div>
            <div class="col-md-4" style="text-align: center;" id="mail-phone">
                <br>
                <p>Ufficio: <a href="telto:0875681101">0875681101</a> / <a href="telto:3277425486">3277425486</a></p>
                <p>Referenti: <a href="telto:3477333796">3477333796</a> / <a href="telto:3663619031">3663619031</a></p>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</div>

{{ partial "map.html" . }}

<br><br><br><br>
