<div class="home-slider">
    <div>
        <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto,c_scale,q_75,f_auto/v1618937275/slider/impermeabilizzazione.png" alt="img-impermeabilizzazione">
    </div>
    <div>
        <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto,c_scale,q_75,f_auto/v1618937275/slider/pavimento.png" alt="img-pavimentazione">
    </div>
    <div>
        <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto,c_scale,q_75,f_auto/v1618937272/slider/sabbiatura.png" alt="img-sabbiatura">
    </div>
    <div>
        <img src="https://res.cloudinary.com/afulvio/image/upload/w_auto,c_scale,q_75,f_auto/v1618937273/slider/verniciatura.png" alt="img-verniciatura">
    </div>
</div>