<!-- USAGE: use imgPrima/Durante/Dopo for get the image of the work, alPrima/Durante/Dopo for the description for the alternative of the image -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 work-double">
            <img src="{{.Get "imgPrima"}}" alt="{{.Get "altPrima"}}" loading=lazy class="img-responsive" width=400 height=400/>
        </div>
        <div class="col-sm-6 work-double">
            <img src="{{.Get "imgDopo"}}" alt="{{.Get "altDopo"}}" loading=lazy class="img-responsive" width=400 height=400/>
        </div>
    </div>
</div>