<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{.Get "imgPrima"}}" alt="{{.Get "altPrima"}}" class="img-responsive" loading="lazy"/>
            <div class="text-center"><h3>PRIMA</h3></div>
        </div>
        <div class="col-sm-4">
            <img src="{{.Get "imgDurante"}}" alt="{{.Get "altDurante"}}" class="img-responsive" loading="lazy"/>
            <div class="text-center"><h3>DURANTE</h3></div>
        </div>
        <div class="col-sm-4">
            <img src="{{.Get "imgDopo"}}" alt="{{.Get "altDopo"}}" class="img-responsive" loading="lazy"/>
            <div class="text-center"><h3>DOPO</h3></div>
        </div>
    </div>
</div>